<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.inventoryMaterial">

    <application
        android:name="com.example.inventoryMaterial.InventoryApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- se crea esta instancia manualmente -->
        <activity
            android:name="com.example.inventoryMaterial.LoginActivity"
            android:theme="@style/LoginTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.inventoryMaterial.InventoryActivity" />
        <activity android:name="com.example.inventoryMaterial.DashBoardActivity" />
        <activity android:name="com.example.inventoryMaterial.ProductsActivity" />
        <activity android:name="com.example.inventoryMaterial.DependencyActivity" />
        <activity android:name="com.example.inventoryMaterial.SectorActivity"/>
        <activity android:name="com.example.inventoryMaterial.GeneralSettingActivity"/>
        <activity android:name="com.example.inventoryMaterial.AccountSettingActivity"/>
        <activity android:name="com.example.inventoryMaterial.AboutusActivity"/>
    </application>

</manifest>